.loga {
  position: absolute;
  right:10px;
}
.logaa {
  position: absolute;
  right:70px;
}
html,body{

margin:0px auto;
}
.nav-link{
  color:white;
}
.marg {

  margin-top:5px;
}
.progress, .alert {
margin-top: 2px;
    height:10px;
    border-radius:0px;
}
.icon {
  background:transparent;
}
.sear {
padding-left: 5px;
  position:absolute;
  right:200px;
  border:none;
  border-radius: 15px 15px 15px 15px;
  width:20px;
transition: width 1s linear;
}
.owl-carousel {
width:0px;

  margin-top:59px;
  height:300px;

}
.card {
  opacity:0;
  transition:opacity 1s linear;
}
.widget {
  height: 300px;
  margin-right: 10px;




}
.dow {
  position: absolute;
  bottom: 0;
  border-radius: 0px;
  width:90%;
}
.desc {
  width:45%;
  position:absolute;
  right:0;
}
.btnn {
  z-index: 2;
  position: absolute;
  right:200px;
  width:18px;
  margin:0px;
}
.b {
  transition: opacity 1s linear;
  opacity:0;

}
.card {
  margin-top:5px;
}
.s {
  transition:width 1s linear;
  width:0px;
  height:0px;
}
.topi{
  margin-top:100px;


}
.bra {
  color:white;
}
.card-header {

  color: white;
}
.card-footer {
  background-color: lightgray;
  color:white;
}
.navbar-brand {


  width:90px;

}
.search {
  margin-top:54px;
}
.btn-inverse {
  background-color: #292b2c;
  border: 0.9px white;
}
.btn-inverse,.btn a{
  color:white;
}
.btn-inverse:hover {
  background-color: lightgray;
  color:black;
}
.margi {
  width:100%
}
